@appkit4:registry=https://artifacts-west.pwc.com/artifactory/api/npm/g00020-pwc-gx-digital-appkit-npm/
//artifacts-west.pwc.com/artifactory/api/npm/g00020-pwc-gx-digital-appkit-npm/:_auth = bXBvbW9nYWprbzAwMTpBS0NwOGs4WkhlUnJlZmJyUWE2U05RTjNvc3B3YlVkNkdTb2RhSjV5ZFdRVWtNdkJESDVHaFNUZDRQdEVQY0FDaTRoZHdncGhp
//artifacts-west.pwc.com/artifactory/api/npm/g00020-pwc-gx-digital-appkit-npm/:always-auth = true
