@import 'sass-rem/_rem.scss';
@import '@appkit4/styles/scss/_variables.scss';

.ap-panel-with-extra-container {

    .ap-panel {
        .ap-panel-footer {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
        }
    }
}

.ap-extra-template-container {
    display: flex;

    .ap-tabset-container {
        flex-direction: row;
        width: 76px;
        margin-right: 2px;

        .ap-tabset-toggle {
            width: 32px !important;
            padding: 4px !important;
            height: 32px !important;
        }
    }

    .ap-modal-header-icon {
        position: relative;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.5rem;
        background-color: transparent;
        color: #252525;

        &:hover {
            background-color: #f3f3f3;
            border-radius: 4px;
            cursor: pointer;
        }

        .height {
            height: 1.5rem;
        }

        .icon-close-fill::before {
            font-weight: 500;
        }
    }
}

.report-missing-info {
    position: absolute;
    // vertically centered
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    width: 300px;

}

.copy-btn {
    position: relative;
    display: grid;
    grid-row: 1;
    justify-items: center;
    align-items: baseline;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    line-height: 1.5rem;
    border-radius: var(--border-radius-1);
    color: var(--color-text-body);
    transition: background-color 0.3s;
    outline-offset: var(--spacing-1);
    width: 32px !important;
    padding: 4px !important;
    height: 32px !important;

    &:hover {
        background-color: #f3f3f3;
        border-radius: 4px;
        cursor: pointer;
    }
}

.eval-selection {
    // if a user makes a selection this will be applied to the text
    // it should highlight the text and on hover it should show a pointer
    background-color: #f3f3f3;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: #e6e6e6;
    }
}

#answer {
    display: block;
    max-height: 100%;
    overflow-y: scroll;
}


// CARD GRID

$content-width: rem(1080px);


.ap-pattern-card-grid-second {
    margin-top: rem(12px);
    column-gap: rem(12px);
    row-gap: $spacing-4;
    display: grid;
    grid-template-columns: repeat(auto-fill, rem(calc(($content-width - rem(24px)) / 3)));
    grid-auto-flow: row dense;
    width: rem($content-width);
    justify-content: center;
}

.ap-pattern-card-grid-second {
    .ap-pattern-card.second {
        width: rem(calc(($content-width - rem(24px)) / 3));
        height: rem(332px);
        min-height: unset;

        .component-thumb {
            width: rem(calc(($content-width - rem(24px) - rem(120px)) / 3));

            img {
                content: url("./images/placeholder-second.svg")
            }
        }
    }
}

.card-grid-page {
    margin: 0 auto;
    margin-top: rem(64px);
    z-index: 0;
}

// .ap-pattern-card-grid-page-content{
//     display: flex;
//     background-color: #f3f3f3;
//     .ap-navigation-wrapper {
//         .ap-navigation-content {
//             position: relative;
//             top: rem(48px);
//             padding-top: rem(28px);
//         }
//     }
//     .card-grid-page{
//         margin: 0 auto;
//         margin-top: rem(64px);
//         z-index: 0;
//     }
//     $content-width:rem(1080px);
//     .ap-pattern-card-grid-first {
//         column-gap: rem(12px);
//         row-gap: $spacing-4;
//         display: grid;
//         grid-template-columns: repeat(auto-fill, rem(calc(($content-width - rem(36px)) / 4)));
//         grid-auto-flow: row dense;
//         width: rem($content-width);
//         justify-content: center;
//     }

//     .ap-pattern-card-grid-second {
//         margin-top: rem(12px);
//         column-gap: rem(12px);
//         row-gap: $spacing-4;
//         display: grid;
//         grid-template-columns: repeat(auto-fill, rem(calc(($content-width - rem(24px)) / 3)));
//         grid-auto-flow: row dense;
//         width: rem($content-width);
//         justify-content: center;
//     }

//     .ap-pattern-card-grid-first{
//         .ap-pattern-card.first {
//             width: rem(calc(($content-width - rem(36px)) / 4));
//             height: rem(356px);
//             min-height: unset;
//             .component-thumb {
//                 width: rem(calc(($content-width - rem(36px) - rem(160px)) / 4));
//                 img {
//                     content: url("./placeholder-first.svg");
//                     // object-fit: cover;
//                 }
//             }
//         }
//     }

//     .ap-pattern-card-grid-second{
//         .ap-pattern-card.second {
//             width: rem(calc(($content-width - rem(24px)) / 3));
//             height: rem(332px);
//             min-height: unset;
//             .component-thumb {
//                 width: rem(calc(($content-width - rem(24px) - rem(120px)) / 3));
//                 img {
//                     content: url("./placeholder-second.svg");
//                 }
//             }
//         }
//     }

//     &.card-page-collapse{
//         $content-width: rem(1288px);
//         .ap-pattern-card-grid-first {
//             column-gap: rem(12px);
//             row-gap: $spacing-4;
//             display: grid;
//             grid-template-columns: repeat(auto-fill, rem(calc(($content-width - rem(36px)) / 4)));
//             grid-auto-flow: row dense;
//             width: rem($content-width);
//             justify-content: center;
//         }

//         .ap-pattern-card-grid-second {
//             margin-top: rem(36px);
//             column-gap: rem(12px);
//             row-gap: $spacing-4;
//             display: grid;
//             grid-template-columns: repeat(auto-fill, rem(calc(($content-width - 24px) / 3)));
//             grid-auto-flow: row dense;
//             width: rem($content-width);
//             justify-content: center;
//         }

//         .ap-pattern-card-grid-first{
//             .ap-pattern-card.first {
//                 width: rem(calc(($content-width - rem(36px)) / 4));
//                 height: rem(332px);
//                 min-height: unset;
//                 .component-thumb {
//                     width: rem(calc(($content-width - rem(36px) - rem(160px)) / 4));
//                     img {
//                         content: url("./placeholder-first-wider.svg");
//                     }
//                 }
//             }
//         }

//         .ap-pattern-card-grid-second{
//             .ap-pattern-card.second {
//                 width: rem(calc(($content-width - rem(24px)) / 3));
//                 height: rem(308px);
//                 min-height: unset;
//                 .component-thumb {
//                     width: rem(calc(($content-width - rem(24px) - rem(120px)) / 3));
//                     img {
//                         content: url("./placeholder-second-wider.svg");
//                     }
//                 }
//             }
//         }
//     }
// }

// .ap-pattern-card-grid-page {
//     .ap-header {
//         position: fixed;
//         left: 0;
//         top: 0;
//     }
// }

// [data-mode="dark"] {
//     .ap-pattern-card-grid-page-content{
//         background-color: $color-background-default;
//     }
// }