@tailwind base;
@import "@appkit4/styles/appkit.min.css";
/* uncomment to override with orange theme */
/* @import "@appkit4/styles/themes/appkit.orange.min.css"; */
@import '@appkit4/react-components/dist/styles/appkit4-react.min.css';
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: PwC Helvetica Neue !important;
}


@layer base {
  h1 {
    @apply text-2xl font-bold
  }

  h2 {
    @apply text-xl font-semibold
  }

  h3 {
    @apply text-lg font-medium
  }

  h4 {
    @apply text-base font-bold
  }
}

.ap-page-heading {
  grid-column: 1/3;
  width: 100%;
}

.ap-page-heading .ap-page-title {
  font-size: 1.5rem;
  font-weight: var(--font-weight-2);
  line-height: 2rem;
  color: var(--color-text-heading);
  letter-spacing: -.025rem;
  margin-bottom: var(--spacing-4);
}

.ap-page-heading .ap-page-desc {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -.025rem;
  color: var(--color-text-body);
  word-wrap: break-word;
}

.file-table td {
  cursor: pointer;
}

/* 500 */

.cls-1,
.cls-10 {
  fill: none;
}

.cls-1 {
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2.96px;
}

.cls-2 {
  fill: var(--ap-svg-theme-62479C, #62479C);
}

.cls-3 {
  fill: var(--ap-svg-theme-221F1F, #221F1F);
}

.cls-4 {
  fill: var(--ap-svg-theme-474747, #474747);
}

.cls-5 {
  fill: var(--ap-svg-theme-2D2D2C, #2D2D2C);
}

.cls-6 {
  fill: var(--ap-svg-theme-7F7F7F, #7F7F7F);
}

.cls-7 {
  fill: var(--ap-svg-theme-146D6E, #146D6E);
}

.cls-8 {
  fill: var(--ap-svg-theme-159395, #159395);
}

.cls-9 {
  fill: var(--ap-svg-theme-FFFFFF-1, #FFFFFF);
}

.cls-11 {
  fill: var(--ap-svg-theme-F3F3F3, #F3F3F3);
}

.cls-12 {
  fill: var(--ap-svg-theme-DEDEDD, #DEDEDD);
}

.cls-13 {
  fill: var(--ap-svg-theme-4290CE-1, #4290CE);
}

.cls-14 {
  fill: var(--ap-svg-theme-00588F-1, #00588F);
}

/* 404 */

.cls-21 {
  fill: var(--ap-svg-theme-E9E8E8, #e9e8e8);
}

.cls-22 {
  fill: var(--ap-svg-theme-FFFFFF-2, #ffffff);
}

.cls-23 {
  fill: var(--ap-svg-theme-CACACA, #cacaca);
}

.cls-24 {
  fill: var(--ap-svg-theme-F15633, #f15633);
}

.cls-25 {
  fill: var(--ap-svg-theme-F9B2A3, #f9b2a3);
}

.cls-26 {
  fill: var(--ap-svg-theme-F47F65, #f47f65);
}

.cls-27 {
  fill: var(--ap-svg-theme-4290CE-2, #4290ce);
}

.cls-28 {
  fill: var(--ap-svg-theme-00588F-2, #00588f);
}

.cls-29 {
  fill: var(--ap-svg-theme-676768, #676768);
}