@tailwind base;
@import "@appkit4/styles/appkit.min.css";
/* uncomment to override with orange theme */
/* @import "@appkit4/styles/themes/appkit.orange.min.css"; */
@import '@appkit4/react-components/dist/styles/appkit4-react.min.css';
@tailwind components;
@tailwind utilities;

html, body {
  font-family: PwC Helvetica Neue !important;
}


@layer base {
  h1 {
    @apply text-2xl font-bold
  }

  h2 {
    @apply text-xl font-semibold
  }

  h3 {
   @apply text-lg font-medium
  }

  h4 {
    @apply text-base font-bold
  }
}

.ap-page-heading {
  grid-column: 1/3;
  width: 100%;
}

.ap-page-heading .ap-page-title {
  font-size: 1.5rem;
  font-weight: var(--font-weight-2);
  line-height: 2rem;
  color: var(--color-text-heading);
  letter-spacing: -.025rem;
  margin-bottom: var(--spacing-4);
}

.ap-page-heading .ap-page-desc {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -.025rem;
  color: var(--color-text-body);
  word-wrap: break-word;
}

.file-table td {
    cursor: pointer;
  }