.optionButton {
    &__wrapper {
        position: relative;
    }

    &__icon {
        position: relative;
        width: 2.5rem;
        height: 2.5rem;
        padding: var(--spacing-3);
        background-color: transparent;

        &:hover {
            background-color: var(--color-background-triple-hover);
            border-radius: var(--border-radius-2);
            cursor: pointer;
        }
    }

    &__options {
        position: absolute;
        top: 2.5rem;
        right: 0;
        z-Index: 99;
    }
    
    &__options_up {
        bottom: 2.2rem;
        top: unset;
      }
    
}